img {
    width: 200px;
    height: 200px;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: azure;
    color: blue;
}
footer {
    background: lightblue;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}